body {
  border: 10px solid grey;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  width: 60vw;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1px;
}
.teams {
  border-bottom: 6px solid rgb(255, 255, 255);
  padding: 4px;
  display: flex;
  font-weight: bold;
}

.score {
  width: 24px;
  font-weight: bold;
  border-top: 6px solid rgb(255, 255, 255);
}

img {
  width: 24px;
  padding: 5px;
}

.scoreboard {
  background-color: rgb(69, 107, 194);
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
